[submodule "murmur3"]
	path = murmur3
	url = https://github.com/spaolacci/murmur3.git
[submodule "src/third/murmur3"]
	path = src/third/murmur3
	url = https://github.com/spaolacci/murmur3.git
[submodule "src/third/xxhash"]
	path = src/third/xxhash
	url = https://github.com/cespare/xxhash.git
[submodule "src/third/github.com/cespare/xxhash"]
	path = src/third/github.com/cespare/xxhash
	url = https://github.com/cespare/xxhash.git
[submodule "src/third/github.com/spaolacci/murmur3"]
	path = src/third/github.com/spaolacci/murmur3
	url = https://github.com/spaolacci/murmur3.git
